<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="/css/style.css" />
  <title>Engine monitoring and control system</title>
  <link rel="shortcut icon" type="image/png" href="/images/Myimages/logo-hh-removebg.png"/>
</head>

<body>
  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
      <div class="wrap-logo">
        <img id="logocompany" src="/images/Myimages/logo-hh.png" alt="" />
        <div class="expand-sidebar fas fa-angle-double-left" onclick="clickExpand()"></div>
      </div>
      <ul class="list-unstyled components">
        <li>
          <a href="/" class="menu-item">
            <img src="/images/Myimages/iconDashboard.svg" />
            <p>Dash Board</p>
          </a>
        </li>
        <li>
          <a href="/OeeSupervisor" class="menu-item active">
            <img src="/images/Myimages/iconStorage.svg" />
            <p>OEE Supervisor</p>
          </a>
        </li>
        <li>
          <a href="/DataAnalytics" class="menu-item">
            <img src="/images/Myimages/iconChart.svg" />
            <p>Data Analytics</p>
          </a>
        </li>
        <li>
          <a href="/AugmentedReality" class="menu-item">
            <img src="/images/Myimages/iconCulture.svg" />
            <p>Augmented Reality</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- Page Content  -->
    <div id="content" >
      <div class="overlay"></div>
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-top">
          <!-- Button hide navbar -->
          <button class="hide-nav-bar" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation" onclick="clickHideSide()">
            <i class="fas fa-align-justify hide-button"></i>
            <div class="close-button">X</div>
          </button>
          <div class="heading">
            Engine monitoring & control system
          </div>
          <img class="img-walk" src="/images/Myimages/measurer.gif"/>
        </div>
      </nav>
      <div class="main-container">
        <div class="col">
          <div class="card-dasboard mb-3">
            <div class="card-header">
              <h5> OEE </h5>
            </div>
            <div class="card-body">
              <div id="chartOee"> </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-dasboard mb-3">
            <div class="card-header">
              <h5>Availability</h5>
            </div>
            <div class="card-body">
              <div id="chartAvailability"> </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-dasboard mb-3">
            <div class="card-header">
              <h5>Performance</h5>
            </div>
            <div class="card-body">
              <div id="chartPerformance"> </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-dasboard mb-3">
            <div class="card-header">
              <h5>Quality</h5>
            </div>
            <div class="card-body">
              <div id="chartQuality"> </div>
            </div>
          </div>
        </div>
        <div class="grid-oee col">
          <div class="card-dasboard mb-3">
            <div class="card-header">
              <div class="row">
                <h5>OEE History</h5>
                <div>
                  <div class="dropdown dropleft">
                    <a class="btn btn-primary" id="dropdownMenuLink" data-toggle="dropdown">
                      <i class="fas fa-angle-down"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="btn dropdown-item" id="7days"> Latest 7 days </a>
                      <a class="btn dropdown-item" id="15days">Latest 15 days</a>
                      <a class="btn dropdown-item" id="30days">Latest 30 days</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <canvas id="oeeHistoryChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- Jquery -->
  <script src="/javascripts/jquery-3.3.1.min.js"></script>

  <!-- Font Awesome JS -->
  <script src="/javascripts/solid.js"></script>
  <script src="/javascripts/fontawesome.js"></script>
  <script src="/javascripts/bootstrap-4.2.1.js"></script>
  <script src="/javascripts/bootstrap4-toggle.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap-4.2.1.js"></script>
  <!-- SocketIO -->
  <script src="/socket.io/socket.io.js"></script>
  <!-- Gauge-OEE -->
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <script defer src="/javascripts/Myjavascripts/data-oee-gauge.js"></script>
  <script defer src="/javascripts/Myjavascripts/data-availability-gauge.js"></script>
  <script defer src="/javascripts/Myjavascripts/data-performance-gauge.js"></script>
  <script defer src="/javascripts/Myjavascripts/data-quality-gauge.js"></script>
  <!-- Temperature-Chart -->
  <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/min/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.0"> </script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@1.8.0"></script>
  <script src="/javascripts/Myjavascripts/OeeSupervisor.js"></script>
  <script src="/javascripts/Myjavascripts/sidebar.js"></script>
  <!-- Jquery -->
  <script src="/javascripts/jquery-3.3.1.min.js"></script>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap-4.2.1.js"></script>
  <script src="/javascripts/bootstrap4-toggle.min.js"></script>

  <!-- Temperature-Chart -->
  <script src="https://cdn.jsdelivr.net/npm/moment@2.24.0/min/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.0"> </script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@1.8.0"></script>

  <!-- Annotation-Range -->
	<script src="/javascripts/chartjs-plugin-annotation.js"></script>
  <script src="/javascripts/chartjs-plugin-annotation.min.js"></script>

</body>

</html>