.container-top {
    display: flex;
}
.wrap-control button,
.wrap-control input,
.set-limit button,
.set-limit input {
    height: 2rem !important;
    margin: 5px !important;
}

.wrap-control,
.set-limit {
    margin: auto 20px;
}

.card-body .wrap-chart{
    height: calc(100% - 2rem - 20px);
}

.card-body .set-limit {
    margin-top: 10px;
}

.grid-oee {
    grid-column: 2 / span 2;
    grid-row: 2;
}

.grid-financial {
    grid-column: 1 / span 3;
    grid-row: 1;
}

.card-dasboard{
	min-width: 220px;
    height: 100%;
	background: #1b2a47;
	color : white;
	border-radius: 5px;
    box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.2);
}
.card-dasboard> .card-header{
    height: 50px;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(10, 175, 230, 0.8),  0 0 10px rgba(10, 175, 230, 0), 0 0 20px rgba(10, 175, 230, 0), 0 0 25px rgba(10, 175, 230, 0);
	font-size: 18px;
}
.card-dasboard> .card-body{
    position: relative;
	height: calc(100% - 50px);
}

.toggle-handle {
    position: absolute !important;
    left: 27.5px !important;
    padding: 0 !important;
}

.toggle {
    width: 50px !important;
}

.toggle.btn {
    border-radius: 20px !important;
    border: none;
}

.toggle-handle.btn {
    /* top: -2px; */
    width: 45px;
    border-radius: 20px;
}
.main-container {
    width: 100%;
    height: calc(100% - 55px);
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: repeat(2, minmax(100px, 1fr));
    grid-gap: 10px;
}
.card-header> .row> h5 {
    height: 1.5rem;
    margin: 0 5px;
}
.card-header> .row> .switch-button {
    position: absolute;
    right: 10px;
}
.heading {
    margin-left: 10px;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: 600;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #8baec766;
    z-index: 99;
}
.close-button {
    display: none;
}
.hide-nav-bar {
    display: none !important;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: #fbfbe5;
    border-radius: 50%;
    outline: none;
    border: 1px solid transparent;
    box-shadow: 2px 0px 2px rgb(0 0 0 / 20%);
    transition: ease-in 0.1s;
}
.hide-nav-bar:active,
.hide-nav-bar:hover {
    outline: none;
    -webkit-box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
    box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
}
.hide-nav-bar:focus {
    outline: none;
    background-color: #ccccbd;
}

@media (max-width: 998px) {
    .main-container {
        display: block;
    }
    #sidebar {
        position: fixed;
        margin-left: -250px;
    }
    .card-dasboard{
        height: 400px;
    }
    .hide-nav-bar {
        display: block !important;
    }
}

@media (max-width: 1281px) {
    .set-limit,
    .wrap-control {
        max-width: 300px;
        margin: 10px auto 0;
        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 557px) {
    .card-dasboard{
        height: 320px;
    }
}