.weekDays-selector input {
  display: none!important;
}

.weekDays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 35px;
  width: 26px;
  margin-right: 5px;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=checkbox]:checked + label {
  background: #ffe064;
  box-shadow: 0 0 0 2px #415c83;
  color: #415c83;
  font-weight: 700;
}