/* ---------------------------------------------------
    GAUGE
----------------------------------------------------- */
.GaugeMeter {
	width: 100% !important;
    height: calc(100% - 20px);
	display: flex;
    justify-content: center;
    align-items: center;
}
.GaugeMeter SPAN, .GaugeMeter B {
    Position: Absolute;
    Text-align: Center;
    Display: Inline-Block;
    Color: white;
    Font-Weight: 100;
    Font-Family: "Open Sans", Arial;
    Overflow: Hidden;
    White-Space: NoWrap;
    Text-Overflow: Ellipsis;
}
.GaugeMeter[data-style="Semi"] B {
    Margin: 0 10%;
    Width: 80%;
}
.GaugeMeter S, .GaugeMeter U {
    Text-Decoration: None;
    Font-Size: .5em;
    Opacity: .5;
}
.GaugeMeter B {
    Color: white;
    Font-Weight: 300;
    Font-Size: .5em;
    Opacity: .8;
}
.GaugeMeter canvas {
    height: 100%;
    width: 100%;
    object-fit: contain;
}