#clock {
	font-size: 20px;
	color: #fff;
}
.timeRunning{
	font-size: 20px;	
	color: #fff;
}
.timeShecdule{
	font-size: 20px;	
	color: #fff;
}
.wrap-time {
	margin-top: 5px;
	height: 2.5rem;
	justify-content: space-between;
}

.btn-submit {
	position: absolute;
	bottom: 20px;
	right: 20px;
	margin: 5px;
	height: 2rem;
}